@import url('https://fonts.googleapis.com/css2?family=Jersey+15+Charted&display=swap');

html,
body,
#root,
.app,
.content{
  height:100%;
  width:100%;
  font-family: 'Jersey 15 Charted', sans-serif
}


.app{
  display:flex;
  position: relative;
}

::-webkit-scrollbar{
  width:10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
} 

/* Handle on Hover */
::-webkit-scrollbar-track:hover{
  background: #555;
}

